@tailwind base;
@tailwind components;
@tailwind utilities;

.home .sidebar {
  grid-area: sidebar;
}

.home .photo-grid {
  grid-area: photo-grid;
}

.home {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;

  grid-template-areas:
    "sidebar photo-grid photo-grid photo-grid"
    "sidebar photo-grid photo-grid photo-grid"
    "sidebar photo-grid photo-grid photo-grid";
}
